.input{
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: white;
}

p input.text{
    border:0;
    width: 100%;
    height: 28px;
    color: black;
    font-size: 16px;
    outline: none;
    padding: 0;
}

p.submit input.text{
    height: 40px;
    color: #fff;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
}

.submit{
    margin-bottom: 15px;
    background-color: #7F2153;
    color: white;
}

.auto{
    float: left;
    display: inline-block;
    padding-left: 10px;
    height: 15px;
    line-height: 15px;
    color: #333;
    font-size: 13px;
    padding-right: 30px;
}

.find{
    float: right;
    padding-right: 10px;
    height: 15px;
    line-height: 15px;
    color: #333;
    font-size: 13px;
}

.register{
    clear: both;
    padding-top: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.register a{
    color: white;
    border: 1px solid #7F2153;
    background-color: #7F2153;
    padding: 8.5px;
}

input{
    vertical-align: middle;
}