<section class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Client <strong>Testimonial</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="{{ url_for('static',  filename='images/person_1.jpg')}}" alt="Image placeholder"
                             class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                            coast of the Semantics, a large language ocean.&rdquo;</p>
                        <cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a
                                href="{{ url_for('static',  filename='#')}}">XYZ Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="{{ url_for('static',  filename='images/person_2.jpg')}}" alt="Image placeholder"
                             class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                            coast of the Semantics, a large language ocean.&rdquo;</p>
                        <cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a
                                href="{{ url_for('static',  filename='#')}}">XYZ Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="{{ url_for('static',  filename='images/person_3.jpg')}}" alt="Image placeholder"
                             class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                            coast of the Semantics, a large language ocean.&rdquo;</p>
                        <cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a
                                href="{{ url_for('static',  filename='#')}}">XYZ Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="{{ url_for('static',  filename='images/person_4.jpg')}}" alt="Image placeholder"
                             class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and
                            Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the
                            coast of the Semantics, a large language ocean.&rdquo;</p>
                        <cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a
                                href="{{ url_for('static',  filename='#')}}">XYZ Inc.</a></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>