{% extends 'template.html' %}

{% block title %}메인 페이지{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    <!--메인 페이지에서 사용하는 css 입력-->
</style>
{% endblock %}

{% block content %}

<!--사용템플릿: templates 디렉터리 내 위치-->
{% include 'slide.html' %}
{% include 'portfolio.html' %}
{% include 'board.html' %}
{% include 'unused/about.html' %}
{% include 'unused/testimonial.html' %}
{% include 'unused/services.html' %}
{% include 'unused/medium.html' %}
{% include 'unused/contact.html' %}
{% include 'unused/footer.html' %}

{% endblock %}