<section class="site-section " id="section-resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2><strong>게시판</strong></h2>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">Hot 게시판</h2>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">자유게시판</h2>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Github</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Facebook</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Twitter</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Shopify</span>
                </div>
            </div>
        </div>
    </div>
</section>