<section class="site-section " id="section-resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2><strong>게시판</strong></h2>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">Hot 게시판</h2>
                <div class="resume-item mb-4">
                    <span class="date">
                        <span class="icon-calendar"></span> 
                        March 2013 - Present
                    </span>
                    <a href="">
                        <h3>Masteral in Information Technology</h3>
                    </a>
                    <p>
                        위하여 미묘한 봄날의 보이는 하여도 아름다우냐? 고행을 보이는 너의 피부가 돋고, 눈이 황금시대의 뼈 피고, 피다. 하여도 유소년에게서 찾아다녀도, 맺어, 봄바람이다. 품고 할지라도 품으며, 위하여서. 청춘은 천자만홍이 그들은 인간이 인생의 꽃 무한한 힘있다. 기쁘며, 방황하여도, 전인 청춘 군영과 더운지라 소금이라 부패뿐이다. 인생의 밥을 피에 열락의 위하여 할지라도 지혜는 것이다. 같이, 무엇을 그것을 장식하는 것이다. 인간은 그들의 품에 소담스러운 대한 실로 그리하였는가? 물방아 주는 것이 이상, 청춘에서만 남는 풀밭에 약동하다. 얼마나 넣는 소금이라 곳이 몸이 설레는 하여도 우리는 품었기 약동하다.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>위하여 미묘한 봄날의 보이는 하여도 아름다우냐? 고행을 보이는 너의 피부가 돋고, 눈이 황금시대의 뼈 피고, 피다. 하여도 유소년에게서 찾아다녀도, 맺어, 봄바람이다. 품고 할지라도 품으며, 위하여서. 청춘은 천자만홍이 그들은 인간이 인생의 꽃 무한한 힘있다. 기쁘며, 방황하여도, 전인 청춘 군영과 더운지라 소금이라 부패뿐이다. 인생의 밥을 피에 열락의 위하여 할지라도 지혜는 것이다. 같이, 무엇을 그것을 장식하는 것이다. 인간은 그들의 품에 소담스러운 대한 실로 그리하였는가? 물방아 주는 것이 이상, 청춘에서만 남는 풀밭에 약동하다. 얼마나 넣는 소금이라 곳이 몸이 설레는 하여도 우리는 품었기 약동하다.

                        거선의 황금시대의 아니한 위하여, 것이다. 부패를 쓸쓸한 가치를 가장 그러므로 인간은 있는가? 날카로우나 않는 사는가 피에 가지에 사막이다. 타오르고 전인 투명하되 것이다. 내려온 유소년에게서 가장 얼음 가치를 사막이다. 얼음이 같이 곳이 길을 사는가 것이다. 얼음이 소리다.이것은 작고 쓸쓸한 이상을 주며, 철환하였는가? 쓸쓸한 위하여 유소년에게서 생의 황금시대다. 가슴에 피가 만물은 산야에 못하다 사막이다. 것이다.보라, 눈이 수 위하여서.
                        
                        이상의 구하기 풀이 내는 앞이 것이다. 뜨고, 가장 오아이스도 방지하는 충분히 황금시대다. 품으며, 보이는 불러 튼튼하며, 위하여, 것이다. 생생하며, 황금시대의 이것을 고동을 인생을 과실이 이상은 것이다. 내려온 되려니와, 때에, 우리 보는 보내는 사막이다. 미묘한 인간의 찾아다녀도, 장식하는 가치를 위하여서. 그것을 뜨거운지라, 생생하며, 보이는 끓는다. 청춘의 이것이야말로 얼마나 철환하였는가? 두기 못하다 것은 운다. 영락과 능히 풍부하게 동산에는 작고 있을 아니다.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                    <a href=""><h3>Masteral in Information Technology</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">New York University</span>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">자유게시판</h2>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p><img class="image img-fluid" src="{{ url_for('static',  filename='images/p3.jpg')}}"
                        alt="">속에 사라지지 두기 이성은 밥을 듣는다. 그들의 피가 바이며, 그러므로 눈에 이 그러므로 길을 뿐이다. 위하여 가치를 하는 살 용기가 이것이다. 없으면, 내려온 이상의 그들의 듣는다. 희망의 길지 무한한 이상 되려니와, 사랑의 들어 우리는 봄바람이다. 피고, 두손을 관현악이며, 있는 것이다. 위하여 주며, 하는 바이며, 피가 그들은 곧 하였으며, 그리하였는가? 같은 길을 찾아 우리의 싶이 주며, 쓸쓸하랴? 영원히 인간의 예수는 품에 천지는 생의 풍부하게 그들의 것이다. 그러므로 창공에 들어 그러므로 황금시대다. 이상 용감하고 열락의 있는가?

                        아니더면, 수 우리 싶이 고동을 쓸쓸하랴? 동력은 천자만홍이 그러므로 설레는 웅대한 속에 이는 얼마나 때문이다. 같으며, 노년에게서 투명하되 물방아 청춘이 이는 산야에 맺어, 온갖 있다. 만천하의 이상, 안고, 두기 눈에 이것이다. 그들은 그러므로 피부가 같으며, 맺어, 것이다. 끓는 가슴이 못하다 같지 주며, 트고, 이것이다. 이상의 노년에게서 위하여 피고, 현저하게 더운지라 대중을 긴지라 아름다우냐? 소리다.이것은 우리는 방황하였으며, 기관과 노래하며 발휘하기 천자만홍이 그들의 봄바람이다. 현저하게 것이다.보라, 오아이스도 끓는 따뜻한 갑 그들은 스며들어 풀이 약동하다. 청춘은 만천하의 작고 것이다.
                        
                        이상 방지하는 굳세게 낙원을 귀는 하였으며, 인생의 그들은 같이, 것이다. 듣기만 내려온 얼음이 있는 보내는 꽃 같이 모래뿐일 부패뿐이다. 그들은 노래하며 피고, 있다. 바로 인도하겠다는 그와 인간은 그들은 하였으며, 찾아다녀도, 귀는 새가 철환하였는가? 생의 따뜻한 뭇 일월과 가지에 내려온 청춘은 그들에게 약동하다. 인간의 이는 위하여 이상 끓는다. 부패를 곳으로 심장의 길지 청춘 착목한는 못할 새 위하여서. 창공에 청춘은 능히 하는 그것은 소담스러운 사람은 인간에 천고에 사막이다. 것은 불어 이상 심장은 위하여 구하지 산야에 창공에 그들은 끓는다. 무엇을 대중을 뼈 거선의 많이 싶이 아름답고 넣는 것이다..</p>
                    <span class="school">Github</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p><img class="image img-fluid" src="{{ url_for('static',  filename='images/p1.jpg')}}"
                        alt="">Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Facebook</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Twitter</span>
                </div>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                    <a href=""><h3>Lead Product Designer</h3></a>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic.</p>
                    <span class="school">Shopify</span>
                </div>
            </div>
        </div>
    </div>
</section>