{% extends 'template.html' %}

{% block title %}메인 페이지{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    <!--메인 페이지에서 사용하는 css 입력-->
</style>
{% endblock %}

{% block content %}
<div class="slide">
    <input type="radio" name="pos" id="pos1" checked>
    <input type="radio" name="pos" id="pos2">
    <input type="radio" name="pos" id="pos3">
    <input type="radio" name="pos" id="pos4">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p class="bullet">
        <label for="pos1">1</label>
        <label for="pos2">2</label>
        <label for="pos3">3</label>
        <label for="pos4">4</label>
    </p>
</div>

{% include 'portfolio.html' %}
{% include 'board.html' %}
<!--{% include 'about.html' %}-->
<!--{% include 'testimonial.html' %}-->
<!--{% include 'services.html' %}-->
<!--{% include 'medium.html' %}-->
<!--{% include 'contact.html' %}-->
<!--{% include 'footer.html' %}-->

{% endblock %}