<section class="site-section" id="section-portfolio" style="margin-bottom: 500px;">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <h2>Major <strong>Ring</strong></h2>
            </div>
        </div>
        <div class="filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".packaging">채용 공고</li>
                <li data-filter=".mockup">공모전</li>
                <li data-filter=".typography">대외활동</li>
                <li data-filter=".photography">자격증</li>
            </ul>
        </div>
        <div class="filters-content">
            <div class="row grid">
                <div class="single-portfolio col-sm-4 all photography">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <a href="imgaes/p1.jpg" class="img-pop-up">
                                <img class="image img-fluid" src="{{ url_for('static',  filename='images/p6.jpg')}}"
                                     alt="">
                                <div class="middle">
                                    <div class="info">마감일 : 2020.10.01 ~ 2020.11.05</div>
                                    <div class="info">참가자격 : 정보처리 관련 전공 학사 이상</div>
                                    <div class="info">모집인원 : 제한없음</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="p-inner">
                        <h4>정보처리기사</h4>
                        <div class="cat">자격증</div>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all packaging">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <a href="imgaes/p1.jpg" class="img-pop-up">
                                <img class="image img-fluid" src="{{ url_for('static', filename='images/p3.jpg')}}"
                                     alt="">
                                <div class="middle">
                                    <div class="info">마감일 : ~2020.10.31</div>
                                    <div class="info">참가자격 : 개발자 경력 2년 이상</div>
                                    <div class="info">모집인원 : 40명</div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="p-inner">
                        <h4>2020 현대오토에버 블라인드 코딩 챌린지</h4>
                        <div class="cat">채용 공고</div>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all mockup">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <a href="imgaes/p1.jpg" class="img-pop-up">
                                <img class="image img-fluid" src="{{ url_for('static',  filename='images/p4.jpg')}}"
                                     alt="">
                                <div class="middle">
                                    <div class="info">마감일 : ~2020.10.31</div>
                                    <div class="info">참가자격 : 대학 3학년 이상 재학</div>
                                    <div class="info">모집인원 : 10명</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="p-inner">
                        <h4>2020 Winter Coding - 겨울방학 스타트업 인턴 프로그램</h4>
                        <div class="cat">공모전</div>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all typography">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <a href="imgaes/p1.jpg" class="img-pop-up">
                                <img class="image img-fluid" src="{{ url_for('static',  filename='images/p5.jpg')}}"
                                     alt="">
                                <div class="middle">
                                    <div class="info">마감일 : ~2020.10.31</div>
                                    <div class="info">참가자격 : 개발자 경력 2년 이상</div>
                                    <div class="info">모집인원 : 40명</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="p-inner">
                        <h4>[라이징크래프트] 코딩 서포터즈 모집</h4>
                        <div class="cat">대외활동</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>