{% extends 'template.html' %}

{% block content %}

<section class="site-section">
    <div style="position: absolute; left: 45%; top: 30%; width: 270px;">
        <h1>
            <a href="/">Major-Ring</a>
        </h1>
        <form action="{{url_for('create_user') }}" method="post">
            <p class="input"><input type="text" name="name" maxlength="20" class="text" placeholder="ID"></p>
            <p class="input"><input type="password" name="major" maxlength="20" class="text" placeholder="PassWord"></p>
            <p class="submit"><input type="submit" class="text" value="로그인"></p>
            <label class="auto">
                <input type="checkbox" name="auto" value="1">
                "로그인 유지"
            </label>
            <p class="find">
                <a href="/forgot">아이디/비밀번호 찾기</a>
            </p>
            <p class="register">
                <a href="/register">회원가입</a>
            </p>
        </form>
    </div>
</section>

<table>
    {% for user in user_list %}
    <tr>
        <td>
            {{user.name}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}