{% extends 'template.html' %}

{% block content %}

<section class="site-section">
    <div class="container" style="position: absolute; left: 45%;">
        <form action="{{url_for('create_user') }}" method="post">
            <div class="loginbox">
                <input class="signin" type="text" name="name" placeholder="ID">
                <input class="signin" type="password" name="major" placeholder="PassWord">
                <input class="login"  type="submit" value="가입하기!">
            </div>
        </form>
    </div>
</section>

<table>
    {% for user in user_list %}
    <tr>
        <td>
            {{user.name}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}